[submodule "weather-app-web-component"]  #子模块名称
	path = html/weather-app-web-component   #存放子模块的地址
	url = https://github.com/gogoend/weather-app-web-component  #子模块的原始路径

[submodule "weather-app-react"]  #子模块名称
	path = react/weather-app-react   #存放子模块的地址
	url = https://github.com/gogoend/weather-app-react  #子模块的原始路径