<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>打印测试</title>
    <script src="/_lib/vue.global.js"></script>
    <style>
      .scroll-wrap {
        height: 400px;
        overflow: auto;
      }
      .item-list {
        display: flex;
        flex-direction: column-reverse;
        font-family: monospace;
      }
    </style>
</head>

<body>
  <div id="app">
    <div>
      {{ scrollHeightAtPrevFrame }} | {{ scrollHeightAtCurrentFrame }}
    </div>
    <div class="scroll-wrap" ref="scrollWrapEl">
      <div ref="loadTriggerEl">
        <span v-if="!loadingFlag">
          上划以加载更多
        </span>
        <span v-else>
          正在加载中
        </span>
      </div>
      <ol class="item-list">
        <li v-for="n in numArr" :key="n">{{ n }}</li>
      </ol>
    </div>
  </div>
  <script>
    const { ref, createApp, defineComponent, nextTick, onMounted, onUnmounted } = Vue
    const app = createApp(
      defineComponent({
        setup() {
          const numArr = ref(Array.from({length: 100}, (_, n) => n + 1))
          const scrollWrapEl = ref()
          onMounted(() => {
            scrollWrapEl.value.scrollTo({
              top: scrollWrapEl.value.scrollHeight - scrollWrapEl.value.clientHeight
            })
          })

          const loadTriggerEl = ref()
          const loadingFlag = ref(false)
          const fetcher = async () => {
            if (loadingFlag.value) {
              return
            }
            loadingFlag.value = true
            await new Promise(resolve => {
              setTimeout(() => {
                resolve()
              }, 1000)
            })
            const res = Array.from({length: 100}, (_, n) => numArr.value[numArr.value.length - 1] + n + 1)
            numArr.value = [
              ...numArr.value,
              ...res
            ]
            loadingFlag.value = false
          }

          let scrollHeightAtPrevFrame = ref(0)
          let scrollHeightAtCurrentFrame = ref(0)

          const scrollHandler = (ev) => {
            scrollHeightAtPrevFrame.value = scrollHeightAtCurrentFrame.value
            scrollHeightAtCurrentFrame.value = scrollWrapEl.value.scrollTop

            const scrollWrapElBox = scrollWrapEl.value.getBoundingClientRect()
            const loadTriggerElBox = loadTriggerEl.value.getBoundingClientRect()
            if (
              loadTriggerElBox.y + loadTriggerElBox.height - scrollWrapElBox.y > 0
              &&
              scrollHeightAtCurrentFrame.value - scrollHeightAtPrevFrame.value < 0
            ) {
              console.dir(ev)
              fetcher()
            }
          }
          onMounted(() => {
            scrollWrapEl.value.addEventListener('scroll', scrollHandler)
          })
          onUnmounted(() => {
            scrollWrapEl.value.removeEventListener('scroll', scrollHandler)
          })
          return {
            scrollWrapEl,
            loadTriggerEl,
            numArr,
            loadingFlag,

            scrollHeightAtPrevFrame,
            scrollHeightAtCurrentFrame
          }
        }
      })
    )
    app.mount("#app");
  </script>
</body>

</html>