<!--
 * @Author: gogoend
 * @Date: 2020-08-05 21:07:36
 * @LastEditors: gogoend
 * @LastEditTime: 2020-08-05 21:33:16
 * @FilePath: \demo\vue\list-edit.html
 * @Description: 
-->
<html>

<head>
    <meta charset="utf-8" />
    <title>Vue.js - 列表编辑测试</title>
</head>

<body>
    <div id="app">
        <button @click="addFormItem">添加</button>
        <ul>
            <li v-for="item in formItems" :key="item.id">
                <list-item :item-data="item" />
            </li>
        </ul>
    </div>
    <script type='text/x-template' id='list-item-component'>
        <section>
            <form>
                <div>
                    姓名<input name="name" v-model="formData.name" />
                </div>
                <div>
                    性别
                    <input v-model="formData.gender" :value="0" name="gender" type="radio" /><label>男</label>
                    <input v-model="formData.gender" :value="1" name="gender" type="radio"/><label>女</label>
                </div>
                <button type="button">保存</button>
                <button type="button" @click="$parent.removeFormItemById(formData.id)">删除</button>
            </form>
        </section>
    </script>
    <script src="./vue.js"></script>
    <script>
        Vue.component('ListItem', {
            data() {
                return {
                    formData: {}
                }
            },
            props: {
                itemData: {
                    default: () => ({}),
                    type: Object
                }
            },
            template: '#list-item-component',
            mounted() {
                this.formData = JSON.parse(JSON.stringify(this.itemData))
            }
        })
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                currentItem: {},
                formItems: [
                    {
                        id: 1,
                        name: 'Bob',
                        gender: 0
                    },
                    {
                        id: 2,
                        name: 'Sherry',
                        gender: 1
                    }, {
                        id: 3,
                        name: 'Dick',
                        gender: 0
                    },
                ]
            },
            methods: {
                addFormItem() {
                    let maxId = Math.max(...this.formItems.map(item => item.id))
                    this.formItems.push({
                        id: maxId + 1,
                        name: '',
                        gender: null
                    })
                },
                removeFormItemById(itemId) {
                    for (var i = 0; i < this.formItems.length; i++) {
                        if (this.formItems[i].id == itemId) {
                            this.formItems.splice(i, 1);
                            break;
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>